{% extends "blog/base.html" %} {% block content %}
<h1>Blog Home</h1>
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.author == user %}
            <div class="">
                <a href="{% url 'post-update' object.id %}" class="btn btn-sm btn-outline-info mt-2">Update</a>
                <a href="{% url 'post-delete' object.id %}" class="btn btn-outline-danger btn-sm mt-2">Delete</a>
            </div>
            {% endif%}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
    </div>
</article>
{% endblock content %}