{% extends "blog/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Login
            </legend>
            {{form|crispy}}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Login</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need an Account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
        </small>
        <small class="text-muted">
            Need an Account? <a href="{% url 'password_reset' %}" class="ml-2">Forgot Password ?</a>
        </small>
    </div>
</div>
{% endblock content %}