{% extends "blog/base.html" %}


{% block content %}
<h2>You have been Logged out</h2>

<div class="border-top pt-3">
    <small class="text-muted">
        <a href="{% url 'login' %}" class="ml-2">Login Again</a>
    </small>
</div>
{% endblock content %}