{% extends "blog/base.html" %}
{% block content %}
    <div class="alert alert-success">
        <p>Your Password has been set.</p>
    </div>
    <a href="{% url 'login' %}" class="btn btn-info">Sign in Here</a>
{% endblock content %}