{% extends "blog/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <div class="media">
        <img src="{{ user.profile.image.url }}" alt="" class="rounded-circle account-img">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ user_UpdateForm|crispy }}
            {{ profile_UpdateForm|crispy }}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info mt-2">Update</button>
        </div>
    </form>
</div>
{% endblock content %}